body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f7f9;
    display: flex;
    flex-direction: column; 
    margin: 0;
}

.sub-line {
    border: 2px solid #000; 
    width: 100%;
    margin: 0; 
}

.heading-line {
    border: 2px solid #000; 
    width: 100%;
    margin: 0; /* Set margin to zero to remove default margin */
}

.content {
    font-size: 14px;
    display: flex;
    flex-direction: column; 
}

.sets {
    display: flex;
    align-items: center;   /* Centers content vertically */
    justify-content: flex-start;  /* Aligns content to the start horizontally */
    height: 100%;          /* Ensure the parent container takes full height if needed */

}

.group {
    display: flex;
    align-items: flex-start;   /* Centers content vertically */
    justify-content: flex-start;  /* Aligns content to the start horizontally */
    flex-direction: column; 
}

.buttons {
    display: flex;
    flex-direction: row; 
    border-right: 4px solid #000000; 
    border-left: 4px solid #000000; 
    padding: 0px;
    box-sizing: border-box;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.rank-settings {
    display: flex;
    flex-direction: column; 
}

.checkbox-container {
    display: flex;
    flex-direction: row; 
    text-align: left;
    margin-left: 10px; 
    margin-bottom: 10px; 
    font-size: 16px;
}

.subheader {
    margin-top: 0px; 
    margin-bottom: 0px;
    text-align: center;
    font-size: 16px;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px; 
}

.left-text {
    text-align: center;
    margin-right: auto;
}

.right-text {
    text-align: center;
    margin-left: auto;
}

.slider-wrapper {
    flex: 1;
}

.slider-wrapper input[type="range"] {
    margin-left: 10px; 
    width: 90%;
}

#description {
    text-align: left;
    margin-left: 20px; 
    font-size: 14px; 
    font-weight: normal;
}


#heading {
    text-align: center;
    background-color: #7fb6c9; 
    color: #000; 
    font-size: 20px; 
    width: 100%;
}

#img-container {
    background-color: #f0f7f9;
    text-align: center;
    margin-top: 20px; 
}

#button-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f7f9;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#button-container input[type="file"]{    
    width: 100%;  /* Make the input width responsive */
    max-width: 250px; /* Max width to prevent it from growing too large */
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #4ec5c7;
    color: #000; 
    font-size: 16px; 
    cursor: pointer;
}

#button-container button {
    width: 100%;  /* Make the button width responsive */
    max-width: 270px; /* Max width to prevent it from growing too large */
    height: 47px;  
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #74bfe8;
    color: #000; 
    font-size: 16px; 
    cursor: pointer;
}

#img-container h2 {
    display: none; /* Initially hide the h2 */
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px; 
}

#result-container {
    margin-top: 10px;
    margin-bottom: 20px; 
    overflow: hidden;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .buttons {
        flex-direction: column; /* Stack buttons vertically on small screens */
    }
    
    #button-container input[type="file"],
    #button-container button {
        width: 100%;  /* Make buttons and file inputs take full width */
        max-width: none; /* Remove max-width on small screens */
    }
    
    .checkbox-container {
        flex-direction: column; /* Stack checkboxes vertically on small screens */
    }
}
