<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catan Board Generator</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <hr class="heading-line">

    <div class="content">
        <div class="buttons">
            <div id="heading">
                <h1>CatanHelper</h1>
            </div>

            <hr class="sub-line">

            <div id="description">
                <h2>Upload a Board</h2>
            </div>

            <div id="button-container">
                <input type="file" id="image-input" accept=".png, .jpg, .jpeg" />
            </div>

            <div id="description">
                <h2>Or Generate New One</h2>
            </div>

            <div id="button-container">
                <button onclick="processImage()">Generate Board</button>
            </div>

            <hr class="sub-line">

            <div id="description">
                <h2>Generation Settings</h2>
            </div>

            <div class="checkbox-container">
                <form>
                    <div class="checkbox-container">
                        <label for="highCheckbox">6 & 8 Don't Touch</label>
                        <input type="checkbox" id="highCheckbox" name="highbool" onchange="updateCheckbox('highbool', this.checked)">
                    </div>
            
                    <div class="checkbox-container">
                        <label for="lowCheckbox">2 & 12 Don't Touch</label>
                        <input type="checkbox" id="lowCheckbox" name="lowbool" onchange="updateCheckbox('lowbool', this.checked)">
                    </div>
            
                    <div class="checkbox-container">
                        <label for="distCheckbox">Fair Resource Distribution</label>
                        <input type="checkbox" id="distCheckbox" name="distbool" onchange="updateCheckbox('distbool', this.checked)">
                    </div>

                    <div class="checkbox-container">
                        <label for="distCheckbox">Same Numbers Don't Touch</label>
                        <input type="checkbox" id="distCheckbox" name="distbool" onchange="updateCheckbox('distbool', this.checked)">
                    </div>
                </form>
            </div>

            <div id="description">
                <h2>Ranking Settings</h2>
            </div>

            <div class="checkbox-container">
                <form>
                    <div class="checkbox-container">
                        <label for="highCheckbox">Include Ports</label>
                        <input type="checkbox" id="highCheckbox" name="highbool" onchange="updateCheckbox('highbool', this.checked)">
                    </div>
            </div>

            <h3 class="subheader">Prioritize:</h3>
            
            <div class="slider-container">
                <div class="left-text">Dev<br>Cards </div>
                <div class="slider-wrapper">
                    <input type="range" id="slider" name="slider" min="0" max="4" value="2">
                </div>
                <div class="right-text">Road<br>Building</div>
            </div>
        </div>

        <div id="img-container">
            <h2>Current Board:</h2>
            <div id="result-container"></div>
        </div>
    </div>

    <hr class="heading-line">
    

    <script src="static/script.js"></script>
</body>
</html>
